<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlbumArtExtraction" version="1.0.0" targetFramework="net461" />
  <package id="CoreTweet" version="0.8.1.394" targetFramework="net461" />
  <package id="Legato" version="1.1.2" targetFramework="net461" />
  <package id="Misq" version="6.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>